@font-face {
  font-family: AvenirNext-Thin;
  src: url("fonts/anp/AvenirNextLTPro-Thin.otf");
}
@font-face {
  font-family: AvenirNext-Regular;
  src: url("fonts/anp/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: AvenirNext-Medium;
  src: url("fonts/anp/AvenirNextLTPro-Medium.otf");
}
@font-face {
  font-family: AvenirNext-Bold;
  src: url("fonts/anp/AvenirNextLTPro-Bold.otf");
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #303030;
}
body::-webkit-scrollbar-track {
	background-color: #202020;
}
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-thumb {
	background-color: #505050;
}

h1 {
  font-family: AvenirNext-Bold;
  font-size: 30px;
  color: #f0f0f0;
  margin-bottom: -5px;
}
h2 {
  font-family: AvenirNext-Bold;
  font-size: 22px;
  color: #f0f0f0;
  margin-bottom: -12px;
}
h3 {
  font-family: AvenirNext-Regular;
  font-size: 15px;
  color: #909090;
}
h4 {
  font-family: AvenirNext-Thin;
  font-size: 15px;
  color: #707070;
}
a {
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 80px;
  margin: 0px auto;
  background: #0a4ad3; /* Old browsers */
  background: -moz-linear-gradient(45deg, #0a4ad3 0%, #76eddb 87%, #76eddb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0a4ad3 0%,#76eddb 87%,#76eddb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0a4ad3 0%,#76eddb 87%,#76eddb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4ad3', endColorstr='#76eddb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 2px,
              rgba(15, 15, 15, 0.1) 0px 4px 4px,
              rgba(15, 15, 15, 0.1) 0px 8px 8px;
}
#home {
  float: left;
  margin-left: 15vw;
  margin-top: -5px;
}
#score {
  float: right;
  margin-top: 25px;
  margin-right: 15vw;
}

#focus-wrapper {
  margin: 0px auto;
  margin-top: 12vh;
  width: 400px;
  display: flex;
  justify-content: center;
}
#display {
  margin-top: 45%;
  width: 160px;
  height: 60px;
  font-family: AvenirNext-Bold;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  background: #0a4ad3; /* Old browsers */
  background: -moz-linear-gradient(45deg, #0a4ad3 0%, #76eddb 87%, #76eddb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0a4ad3 0%,#76eddb 87%,#76eddb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0a4ad3 0%,#76eddb 87%,#76eddb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4ad3', endColorstr='#76eddb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 0px;
  border-radius: 2px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 1px,
              rgba(15, 15, 15, 0.1) 0px 4px 3px,
              rgba(15, 15, 15, 0.1) 0px 8px 6px;
  transition: .2s all;
}
#display:hover {
  transform: translateY(1px);
}
#display:active {
  transform: translateY(3px);
}
#display:focus {
  outline: none;
}
#focus {
  display: none;
}
#post {
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 2px,
              rgba(15, 15, 15, 0.1) 0px 4px 4px,
              rgba(15, 15, 15, 0.1) 0px 8px 8px;
  display: none;
}
