body {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: #eeeeee;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #eeeeee;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #f0f0f0;
  margin-bottom: -12px;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #707070;
  letter-spacing: 2px;
  padding-top: 40px;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #707070;
  letter-spacing: 1.2px;
  line-height: 0px;
}
h6 {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #707070;
  letter-spacing: 1.2px;
  line-height: 0px;
}
a {
  text-decoration: none;
}

nav {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 60px;
  margin: 0px auto;
  background: #0a4ad3; /* Old browsers */
  background: -moz-linear-gradient(45deg, #0a4ad3 0%, #68ddcc 87%, #68ddcc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0a4ad3 0%,#68ddcc 87%,#68ddcc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0a4ad3 0%,#68ddcc 87%,#68ddcc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4ad3', endColorstr='#68ddcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#home {
  float: left;
  margin-top: -2px;
}
footer {
  width: calc(100% - 10px);
  background-color: #cccccc;
  position: absolute;
  bottom: 0px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 10px;
}
footer #right {
  float: right;
}
footer h6 {
  margin: 0px;
  display: inline-block;
  margin-left: 10px;
}

#stats {
  width: 10vw;
  height: auto;
  position: absolute;
  right: 0;
  display: none;
  top: calc(50% - 250px);
}
#stats #container {
  margin: 0px auto;
  text-align: center;
  width: 10vw;
}
#stats h4 {
  margin: 0px auto;
}
#skip {
  margin-top: 35px;
  width: 6vw;
  height: 40px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1.5px;
  transition: .1s all;
  box-shadow: rgba(68, 68, 100, 0.3) 0px 1px 4px;
  background: #ed3625; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ed3625 0%, #f7a138 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ed3625 0%,#f7a138 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ed3625 0%,#f7a138 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3625', endColorstr='#f7a138',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#skip:active {
  transform: translateY(1px);
}

#gameover {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  margin: 0px auto;
  width: 400px;
  height: 400px;
  margin-top: calc(50vh - 300px);
  position: relative;
  display: none;
}
#gameover #container {
  margin: 0px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

#focus-wrapper {
  margin: 0px auto;
  margin-top: 5vh;
  justify-content: center;
  display: flex;
}
#focus {
  min-width: 20px;
  min-height: 20px;
  max-height: 90vh;
  max-width: 80vw;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: .4s all;
  display: none;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px,
              rgba(68, 68, 100, 0.2) 0px 8px 8px,
              rgba(68, 68, 100, 0.2) 0px 16px 16px;
}

#display {
  margin-top: 25vh;
  width: 300px;
  height: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  cursor: pointer;
  transition: .2s all;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px,
              rgba(68, 68, 100, 0.2) 0px 8px 8px;
}
#display:hover {
  transform: translateY(1px);
}
#display:active {
  transform: translateY(2px);
}
#display-bg {
  width: 200%;
  height: 200%;
  margin-left: -100%;
  margin-top: -100%;
  z-index: -1;
  position: absolute;
  filter: blur(30px);
}

#img {
  max-height: calc(80vh - 120px);
  min-width: 220px;
  max-width: 80vw;
  object-fit: cover;
  display: block;
}
#expand {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url('img/expand.svg');
  transition: .1s all;
}
#expand:active {
  transform: translateY(1px);
}

#title-bar {
  width: 100%;
  bottom: 0px;
  padding-top: 3px;
  vertical-align: top;
  overflow: hidden;
  z-index: 100;
  display: block;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
}
#title {
  text-shadow: 0px 1px 12px rgba(150, 150, 150, 0.1);
  margin-left: 12px;
  margin-bottom: 20px;
  z-index: 1000;
}
#title-bg {
  position: absolute;
  top: -100%;
  left: -25%;
  filter: blur(50px) saturate(200%);
  width: 150%;
  height: 500%;
  z-index: -1;
}

#input-bar {
  margin: 0px;
  padding: 0px;
  display: flex;
  bottom: 0px;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.25);
}
#input-bar p {
  height: 37px;
  margin:0px;
  padding: 0px;
  padding-left: 12px;
  padding-right: 1px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 37px;
}
#guess {
  width: 100%;
  height: 35px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  margin: 0;
  display: inline;
  outline: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#check {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background-image: url('img/enter.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: .1s all;
}
#check:active {
  transform: translateX(1px);
}
