body {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #eeeeee;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: -12px;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1.5px;
  margin: 0px;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #707070;
  letter-spacing: 1.2px;
  line-height: 0px;
}
a {
  text-decoration: none;
}

nav {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 55px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px;
}
#home {
  float: left;
  margin-top: -4px;
}
#nav-bg {
  position: absolute;
  top: -200%;
  left: -25%;
  filter: blur(20px) saturate(150%);
  width: 150%;
  height: 500%;
  z-index: -1;
}

footer {
  width: calc(100% - 10px);
  background-color: #cccccc;
  position: absolute;
  bottom: 0px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 10px;
}
footer #right {
  float: right;
}
footer h5 {
  margin: 0px;
  display: inline-block;
  margin-left: 10px;
}

.slide-left-out {
  animation: slide-left-out 0.75s;
}
@keyframes slide-left-out {
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

#stats {
  height: 37px;
  display: none;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .1);
}
#stats div {
  margin-top: 9px;
}
#stats #left {
  float: left;
  display: flex;
  margin-left: 12px;
}
#stats #right {
  float: right;
  display: flex;
}
#stats img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
#stats-bg {
  position: absolute;
  top: -100%;
  left: -25%;
  filter: blur(30px) saturate(200%);
  width: 150%;
  height: 300%;
  z-index: -1;
}
#skip {
  width: 80px;
  height: 37px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0;
  margin-left: 12px;
  margin-top: -9px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, .05);
  transition: .02s all;
}
#skip:active {
  background-color: rgba(0, 0, 0, 0.1);
}

#gameover {
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  margin-top: calc(50vh - 220px);
  position: absolute;
  left: calc(50vw - 220px);
  display: none;
  background-color: white;
  z-index: 2000;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px,
              rgba(68, 68, 100, 0.2) 0px 8px 8px;
}
#gameover-container {
  text-align: center;
  margin-top: 25%;
}
#gameover-container h1 {
  color: black;
  font-size: 36px;
  margin-top: 8px;
}
#gameover-title {
  font-weight: 900;
}
#final-score {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: black;
  letter-spacing: 2px;
  margin-top: 0px;
}
#restart {
  width: 200px;
  height: 75px;
  margin-top: 34px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  cursor: pointer;
  transition: .2s all;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px,
              rgba(68, 68, 100, 0.2) 0px 8px 8px;
}
#restart:hover {
  transform: translateY(-1px);
}
#restart:active {
  transform: translateY(2px);
}
#restart-bg {
  width: 150%;
  height: 175%;
  margin-left: -90%;
  margin-top: -20%;
  z-index: -1;
  position: absolute;
  filter: blur(30px);
}

#focus-wrapper {
  margin: 0px auto;
  margin-top: 5vh;
  justify-content: center;
  display: flex;
}
#focus-container {
  display: flex;
  flex-direction: column;
}
#focus {
  min-width: 280px;
  min-height: 20px;
  max-height: 90vh;
  max-width: 80vw;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: .4s all;
  display: none;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px,
              rgba(68, 68, 100, 0.2) 0px 8px 8px;
}

#start-wrapper {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: calc(37.5vh - 55px) calc(80vw - 42.5vh - 30px);
  grid-template-rows: calc(37.5vh - 55px) calc(37.5vh - 55px);
  grid-gap: 5vh 5vh;
}
#easy {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  border:none;
  border-radius: 8px;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  transition: .2s all;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px;
}
#easy:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#hard {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .15);
  overflow: hidden;
  position: relative;
  border:none;
  border-radius: 8px;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  transition: .2s all;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px;
}
#hard:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#start-bg {
  width: 200%;
  height: 200%;
  margin-left: -100%;
  margin-top: -100%;
  z-index: -1;
  position: absolute;
  filter: blur(50px) saturate(150%);
}
#leaderboard {
  width: 100%;
  height: calc(75vh - 150);
  border-radius: 8px;
  padding: 40px;
  grid-row-end: span 2;
  background-color: white;
  box-shadow: rgba(68, 68, 100, 0.2) 0px 2px 2px,
              rgba(68, 68, 100, 0.2) 0px 4px 4px;
}
#leaderboard h1 {
  color: #303030;
  font-size: 30px;
  margin: 0px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1.5px #ddd solid;
}
#leaderboard table {
  margin-top: 10px;
  width: 100%;
}
.player-rank {
  color: #909090;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  width: 10%;
}
.player-username {
  color: #505050;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.player-points {
  color: #707070;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

#img {
  max-height: calc(90vh - 190px);
  min-width: 20px;
  max-width: 80vw;
  object-fit: cover;
  display: block;
  margin: 0px auto;
}
#expand {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 47px;
  right: 10px;
  background-image: url('../img/expand.svg');
  transition: .1s all;
}
#expand:active {
  transform: translateY(1px);
}
#title-bar {
  width: 100%;
  bottom: 0px;
  vertical-align: top;
  overflow: hidden;
  z-index: 100;
  display: block;
  background-color: rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
#title-container {

}
#title {
  text-shadow: 0px 1px 12px rgba(150, 150, 150, 0.3);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#title-bg {
  position: absolute;
  top: -100%;
  left: -25%;
  filter: blur(50px) saturate(200%);
  width: 150%;
  height: 500%;
  z-index: -1;
}

#input-bar {
  margin: 0px;
  padding: 0px;
  display: flex;
  bottom: 0px;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.25);
}
#input-bar p {
  margin:0px;
  padding: 0px;
  padding-left: 12px;
  padding-right: 1px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 37px;
}
#guess {
  width: 100%;
  height: 35px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  margin: 0;
  display: inline;
  outline: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#check {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: .1s all;
}
#check:active {
  transform: translateX(1px);
}
